.shop-container {
    background: #E5E5E5;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 0 90px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
    position: relative;
}